/* CSS written by Aldi */

body {
  width: 85% !important;
}

h1 {
  font-size: 40px;
}

h1, h3 {
  color: #747704;
  margin-bottom: 10px;
}

h1, h3, p, a {
  font-family: "Lato";
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  flex-wrap: wrap;
}

h4 {
  width: 100%;
  font-size: 30px;
  margin: 15px 10px;
  color: #BCBBBB;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.colored li {
  width: 70px;
  height: 70px;
  margin: 15px 0;
}

.colored li:nth-child(1) {
  background: #F8981C;
}

.colored li:nth-child(2) {
  background: #BCBBBB;
}

.colored li:nth-child(3) {
  background: #747704;
}

hr {
  flex-wrap: wrap;
  height: 4px;
  margin-bottom: 3%;
  background-color: #BCBBBB;
  border: none;
}

#top-image {
  width: 30%;
  max-height: 100px;
  margin-top: 20px;
}

.col-12 img {
  width: 100%;
}


.col-4 img {
  width: 100%;
  padding-right: 10px;
}

.featured {
  text-align: center;
}


.side-col-2 {
  margin: 10px auto;
  width: 16.66%;
}

.col-4-top {
  width: 33.33%;
}

a {
  color: #747704;
  text-decoration: none;
}

/* Default CSS */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  /* For smaller devices: */
  [class*="col-"] {
    width: 100%;
  }

  .col-4 {
    width: 100% !important;
  }

  .col-4-top {
    width: 33.33% !important;
  }

  .col-6 {
    width: 40% !important;
  }

  ul {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
  }

  ul li {
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    max-height: 400px;
    overflow: hidden;
  }

  .hero img {
    margin-top: -80px;
  }
}

@media only screen and (min-width: 425px) {
  h1, h3 {
    text-align: right;
    overflow: auto;
  }
}

@media only screen and (max-width: 424px) {
  .col-4-top {
    width: 100% !important;
  }

  .featured {
    margin-top: 4px;
  }

  .col-4 {
    margin-bottom: 25px;
  }
}

  
.grid {
  margin: 0 auto;
  max-width: 1200px;
}

.row {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
  text-align: center;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
 flex-wrap: wrap;
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
